.Header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("./kuidaore-header.jpg");
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.controls{
    padding:5px 15px;
    position: absolute;
    top: 120vh;

}
.circle{
    display: inline-block;
    margin:0 3px;
    height: 17px;
    width:17px;
    border-radius: 50%;
    border:1px solid #a30e02;
    transition: 0.4s ease all;
    cursor: pointer;
}
.circle:hover{
    background-color: #d11002;
}
 .full{
    display: inline-block;
    margin:0 3px;
    height: 17px;
    width:17px;
    border-radius: 50%;
    border:1px solid #a30e02;
    transition: 0.4s ease all;
    cursor: pointer;
    background-color: #d11002;
}
.internal-c{
    padding-left:45vw;
}
.button-offer{
    margin-top: 50px;
}
.sec-tiles{
    margin-top: 60px;
} 
.specs{
    margin-top:70px;
    background-color: #242526;
    padding-bottom:20px;
    color: #F3F4F8;
}
.specOffer{
    margin-bottom:50px;
}
.sec-map{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8eaed;
}

.map-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 15%;
}

.map-frame{
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.sec-map h1 {
    font-weight: bold;
}
@media screen and (max-width:1170px){
    .Header{
        background-size: cover;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("kuidaore-header.jpg");
    }
} 
@media screen and (max-width:700px){
    .Header{
        background-size: cover;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("kuidaore-header.jpg");
    }
} 