.grab{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height:50px;
    width:auto;
    border-radius: 200px;
    padding:10px 25px;
    text-align: center;
    background-color: #D11002;
    display: inline-block;
    transition: all 0.4s ease;
    cursor:pointer;
}
.grab a{
    color:#fff;
    text-decoration:none;
}
.grab p{
    color:#fff;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 110%;
}
.grab:hover,.grab:active{
    background-color:#8F0700;
}
@media screen and (max-width:1170px){
    .grab{
        min-width:60px;
        padding:7px 8px;
        height: 40px;
    }
}